
body {

  color: #C0C3C9;
  font-family: "Open Sans";
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2em;
}

body::after {
  content: "";
  background: rgba(243,129,129,0.9); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
  background: -o-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
  background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*filter: blur(12px);*/
  /*filter: blur(12px);*/
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.dashboard {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  background: #FFF;
  min-height: 85vh;
  height: auto;
  border-radius: 0.4375rem;
  -webkit-box-shadow: 0 15px 40px rgba(0,0,0,.5);
  box-shadow: 0 15px 40px rgba(0,0,0,.5);
  margin: 20px auto;

  -webkit-animation-duration: 1.0s;
    animation-duration: 1.0s;
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

#timetable-input{
  position:relative; margin-top:1em; color: "black";

}

/* Safari 6.1+ */
.dashboard .dashboard-sidebar:nth-of-type(1) {-webkit-flex-grow: 1;}
.dashboard .dashboard-content:nth-of-type(2) {-webkit-flex-grow: 5;}

/* Standard browsers */
.dashboard .dashboard-sidebar:nth-of-type(1) {flex-grow: 1;}
.dashboard .dashboard-content:nth-of-type(2) {flex-grow: 5;}

.dashboard-sidebar {
  -ms-flex-preferred-size: 10rem;
  flex-basis: 10rem;
  border-right: 0.0625rem solid #F2F2F2;
}

.dashboard-sidebar__brand {
  padding: 30px;
}

.dashboard-sidebar__brand img{
  width: 200px;
  height: 122px;
}

.dashboard-nav__item {
  background: 0;
}

.dashboard-nav__item a {
  display: block;
  padding: 1.3125rem 2.25rem;
  color: inherit;
  text-decoration: none;
  font-size: 18px;
}
.dashboard-nav__item a:hover {
  color: #5F6876;
}

.dashboard-nav__item i {
  padding-right: 10px;
}

.dashboard-nav__item--selected {
  background: #F5F7F7;
  color: #5F6876;
}

.dashboard-content {
  border-right: 0.0625rem solid #F2F2F2;
  border-top-right-radius: 0.4375rem;
  border-bottom-right-radius: 0.4375rem;
    flex-basis: 60rem;
}
.dashboard-content__panel {
  display: none;
}
.dashboard-content__panel--active {
  display: block;
}

#userTitle{
  font-size: 50px;
  display: flex;
  margin-top: 30px;
}

.cardsLayout{
  padding:0 120px 0 120px;
}

.cards {
  list-style: none;
}

.cards li {
  border: 2px solid #490A3D;
  border-radius:5px;
  background-color: #BD1550;
  color: #fff;
  flex: 1 1 200px;
}

.cards h2 {
  background-color: #490A3D;
  margin: 0;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}

.cards p {
  padding: 20px;
    font-size: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.flex li {
  margin: 10px;
}

#report_datatable th{
    text-align: center;
}

#report_datatable tr{
  color: black;
}

#report_datatable td{
  text-align: center;
}

.reportTable{
  padding: 20px;
  font-size: 12px;
  color:black;
  width:75vw;

}
.reportTable input{
  color: black;
}
.reportTable select{
  color:black;
}

.search{
  height:30px;
  width: 100%;

}
.searchBar{
  padding:5px;
}
.subject_view select{
  color:black;
}
#newDate{
  width:150px;
}
#newTime{
  width:120px;
}

.dashboard-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 4rem;
  border-bottom: 0.0625rem solid #F2F2F2;
}
.dashboard-header__search {
  width: 100%;
  height: 100%;
  border-right: 0.0625rem solid #F2F2F2;
}
.dashboard-header__search input {
  outline: none;
  display: block;
  width: 100%;
  padding: 23px;
  border: 0;
  letter-spacing: 0.125rem;
  font-size: 12px;
  color: black;
}
.dashboard-header__new {
  min-width: 3.75rem;
  padding: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.dashboard-header i{
  font-size: 20px;
}

.inner-row-content{
  padding:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin:30px auto;
  max-width: 90%;
}

.content-layout{
  border-right: 1px dashed black;
  border-radius: 5px 20px 5px;
  border: 1px dashed black;
  font-size: 15px;
  padding:10px;
  color: black;
  margin-top: 6px;
  margin-left: 10px;
  width:250px;
  height:235px;
}
.content-layout .delete{
  position: relative;
  z-index: 9999;
}

.content-layout .left{
  width: 30%;
    float: left;
    text-align: right;
}
.content-layout .right{
  width: 65%;
 margin-left: 10px;
 float:left;
}
.content-layout h3{
    padding-top: 20px;
}
.content-layout p{
    padding-top: 20px;
}

.btn-style{

  text-align: center;
}
.btn-style2{
  margin-top: 5px;
}

.content-layout:hover
{
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  background-color: #ffff91;
  cursor: pointer;
}

/*Pagination style for Class Rescheduling*/
.pagination {
display: block;
width: 100%;
text-align: center;
top: 10%;
}
.pagination:after {
content: '';
clear: both;
}
.pagination-button {
display: inline-block;
padding: 5px 10px;
border: 1px solid #e0e0e0;
background-color: #eee;
color: #333;
cursor: pointer;
transition: background 0.1s, color 0.1s;
}
.pagination-button:hover {
background-color: #ddd;
color: #3366cc;
}
.pagination-button.active {
background-color: #bbb;
border-color: #bbb;
color: #3366cc;
}
.pagination-button:first-of-type {
border-radius: 18px 0 0 18px;
}
.pagination-button:last-of-type {
border-radius: 0 18px 18px 0;
}
/*End of Pagination*/

.buttonLayout{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.btnSubmit{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	background: #262626;
	cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
}

.btnSubmit:hover {
	background: #4682B4;
}

.redateBox{
  position: relative;
  top:5px;
}
.select2-dropdown.select2-dropdown--below{
    width: 150px !important;
        color: black;
}

.select2-container--default .select2-selection--single{
    width: 150px;
    color: black;
    position: relative;
}

.start_end_date{
    color:black;
    font-size: 13px;
    background-color: #BD1550;

}
.start_end_date input{
  color: black;
}
.start_end_date select{
  color:black;
}

/*table subject*/
.list_view{
  padding: 20px;
  padding-right: 10px;
  font-size: 13px;
  color:black;
  width:75vw;
}
.list_view input{
  color: black;
}
.list_view select{
  color:black;
}
.s2{
  margin-left: 100px;
}

.lessonPage input{
  border-radius: 3px;
  height:28px;
}

.lessonPage select{
    height: 28px;
    border-radius: 3px;
}

.lesson-input_outline{
  border: none;
}
.listContent{
  border-bottom:  1px solid #d8d8d8;
}
.borderline-style{
  border: 1px solid #d8d8d8;
  padding:10px;
  margin-left: 10px;
  width: 85%;
  border-radius: 3px;
}
.borderline-style1{
  border: 1px solid #d8d8d8;
  padding:10px;
  margin-left: 10px;
  width: 53%;
  border-radius: 3px;
}


/*Custimized Animation*/
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}
.bounceInDown {
  animation-name: bounceInDown;
}
/*End of the Customization of Animation*/

/*Customization of Different Screen Size of CSS for Height*/
@media screen and (max-height:773px){
  .dashboard {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    background: #FFF;
    height: 90vh;
    border-radius: 0.4375rem;
    -webkit-box-shadow: 0 15px 40px rgba(0,0,0,.5);
    box-shadow: 0 15px 40px rgba(0,0,0,.5);
    margin: auto;

    -webkit-animation-duration: 1.0s;
      animation-duration: 1.0s;
      -webkit-animation-name: bounceInDown;
      animation-name: bounceInDown;
}
}

/*Customization of Different Screen Size of CSS for Width*/
@media all and (min-width: 600px) {
  .dashboard .dashboard-sidebar:nth-of-type(1) {flex-grow: 1;}
  .dashboard .dashboard-content:nth-of-type(2) {flex-grow: 5;}
  .dashboard .dashboard-preview:nth-of-type(3) {flex-grow: 1;}
}
@media screen and (min-width:1600px){
  .inner-row-content{
    padding:5px;
    margin:90px auto;
    max-width: 80%;
  }
  .content-layout{
    border-right: 1px dashed black;
    border-radius: 5px 20px 5px;
    border: 1px dashed black;
    font-size: 20px;
    padding:auto;
    color: black;
    margin-top: 6px;
    margin-left: 10px;
    width:300px;
    height:255px;
  }
  .content-layout h3{
      padding-top:  20px;
  }
  .content-layout .approveBtn{
      font-size: 19px;
  }
  #newDate{
    width: 190px;

  }
  .dashboard-sidebar__brand img{
    width: 300px;
    height: 183px;
  }
  .dashboard-nav__item a {
    display: block;
    padding: 1.3125rem 2.25rem;
    color: inherit;
    text-decoration: none;
    font-size: 27px;
  }
  .dashboard-sidebar {
    -ms-flex-preferred-size: 10rem;
    flex-basis: 18rem;
    border-right: 0.0625rem solid #F2F2F2;
  }

  .pagination {
  display: block;
  width: 100%;
  text-align: center;
  top: 10%;
  font-size: 20px;
  }
  .pagination-button {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #e0e0e0;
  background-color: #eee;
  color: #333;
  cursor: pointer;
  transition: background 0.1s, color 0.1s;
  }
  #report, #lessons{
    font-size: 18px;
    width:100%;
  }
  .panel-title{
    font-size: 34px;
    padding-top: 8px;
  }
  .cardsLayout{
    margin: 10% auto;
    max-width: 70%;
  }
  .cards h2{
    font-size: 30px;
  }
  .cards p{
    padding: 40px;
    font-size: 30px;
  }
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding-top: 1%;
  padding-bottom: 1%;
  line-height: 1.42857143;
  vertical-align: middle;
  text-align: center;
}
@media screen and (min-width:1500px) and (max-width: 1599px){
  .inner-row-content{
    padding:5px;
    margin:70px auto;
    max-width: 80%;
  }
  #report, #lessons{
    font-size: 18px;
    width:100%;
  }
}
@media screen and (max-height: 773px) {
  .dashboard{
    height: 100%;
  }
  body::after {
    content: "";
    background: rgba(243,129,129,0.9); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: -o-linear-gradient(top, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
    background: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*filter: blur(12px);*/
    /*filter: blur(12px);*/
    background-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
@media screen and (max-width: 1268px) {
  .dashboard {
    height: 100%;
    border-radius: 0.4375rem;
    -webkit-box-shadow: 0 15px 40px rgba(0,0,0,.5);
    box-shadow: 0 15px 40px rgba(0,0,0,.5);
    margin: 20px auto;
  }
  .buttonLayout{
    margin-top: 50px;
  }

  .inner-row-content{
      max-width: 80%;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  #report, #lessons{
    width:100%;
  }
  .dashboard-sidebar__brand {
text-align: center;
  }
  .dashboard-sidebar__brand img{
    width: 250px;
    height: 152px;
  }
  .dashboard-nav {
   display: flex;
   justify-content: center;
   flex-flow: row wrap;
  }
  .dashboard-header__search {
    width: 100%;
    height: 100%;
    border-right: 0.0625rem solid #F2F2F2;
    border-top: 0.0625rem solid #F2F2F2;
  }
  .dashboard-header__new {
    border-top: 0.0625rem solid #F2F2F2;
  }
  .lPage {
    display:block;
    position: absolute;
    margin-top: 20px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  .borderline-style{
    width: 65%;
  }
  .borderline-style1{
    width: 39%;
  }
}

@media screen and (max-width: 1200px) {
  .inner-row-content{
      max-width: 90%;
  }
  .borderline-style{
    width: 70%;
  }
}
@media screen and (max-width: 1193px) {

  .borderline-style{
    width: 75%;
  }
}
@media screen and (max-width:1082px){
  .panel-heading{
    width:88vw;
  }
}
@media screen and (max-width: 1048px) {

  .borderline-style{
    width: 80%;
  }
}

@media screen and (max-width: 1036px) {
  .inner-row-content{
      max-width: 90%;
  }
  .borderline-style{
    width: 83%;
  }
}

@media screen and (max-width: 943px) {
  #report, #lessons{
    width:90vw;
  }
}
@media screen and (max-width: 796px) {
  #report, #lessons{
    width:90vw;
  }
}
@media screen and (max-width: 782px) {
  #report, #lessons{
    width:90vw;
  }
}
@media screen and (max-width: 530px) {
  #report, #lessons{
    width:85vw;
    padding-left: 5px;
  }
}


@media screen and (max-width: 400px) {
  cards li {
    border: 2px solid #490A3D;
    border-radius:5px;
    background-color: #BD1550;
    color: #fff;
    flex: 1 1 200px;
  }
  .cardsLayout{
    padding:0 10px 0 120px;
  }
  .flex {
    margin: 0 0 0 -100px;
  }
  .buttonLayout{
    width: 120%;
    margin-left: -35px;
  }
}
