
body {
  background: linear-gradient(45deg, #F4EBE5, #E3D4CA);
  color: #C0C3C9;
  font-family: "Open Sans";
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2em;
}

.dashboard {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  background: #FFF;
  height: 85vh;
  border-radius: 0.4375rem;
  -webkit-box-shadow: 0 15px 40px rgba(0,0,0,.5);
  box-shadow: 0 15px 40px rgba(0,0,0,.5);
  margin: 30px auto;
}

/* Safari 6.1+ */
.dashboard .dashboard-sidebar:nth-of-type(1) {-webkit-flex-grow: 1;}
.dashboard .dashboard-content:nth-of-type(2) {-webkit-flex-grow: 5;}

/* Standard browsers */
.dashboard .dashboard-sidebar:nth-of-type(1) {flex-grow: 1;}
.dashboard .dashboard-content:nth-of-type(2) {flex-grow: 5;}

.dashboard-sidebar {
  -ms-flex-preferred-size: 10rem;
  flex-basis: 10rem;
  border-right: 0.0625rem solid #F2F2F2;
}

.dashboard-sidebar__brand {
  padding: 30px;
}

.dashboard-sidebar__brand img{
  width: 200px;
  height: 122px;
}

.dashboard-nav__item {
  background: 0;
}

.dashboard-nav__item a {
  display: block;
  padding: 1.3125rem 2.25rem;
  color: inherit;
  text-decoration: none;
  font-size: 18px;
}
.dashboard-nav__item a:hover {
  color: #5F6876;
}

.dashboard-nav__item img {
  padding-right: 10px;
}

.dashboard-nav__item--selected {
  background: #F5F7F7;
  color: #5F6876;
}

.dashboard-content {
  border-right: 0.0625rem solid #F2F2F2;
  border-top-right-radius: 0.4375rem;
  border-bottom-right-radius: 0.4375rem;
    flex-basis: 60rem;
}
.dashboard-content__panel {
  display: none;
}
.dashboard-content__panel--active {
  display: block;
}

#userTitle{
  font-size: 50px;
  display: flex;
  margin-top: 30px;
}

.cardsLayout{
  padding:0 120px 0 120px;
}

.cards {
  list-style: none;
}

.cards li {
  border: 2px solid #490A3D;
  border-radius:5px;
  background-color: #BD1550;
  color: #fff;
  flex: 1 1 200px;
}

.cards h2 {
  background-color: #490A3D;
  margin: 0;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}

.cards p {
  padding: 20px;
    font-size: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.flex li {
  margin: 10px;
}

.report-content{
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

#report-table tr{
  color: black;
}

#report-table td{
  text-align: center;
}

.dashboard-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 4rem;
  border-bottom: 0.0625rem solid #F2F2F2;
}
.dashboard-header__search {
  width: 100%;
  height: 100%;
  border-right: 0.0625rem solid #F2F2F2;
}
.dashboard-header__search input {
  outline: none;
  display: block;
  width: 100%;
  padding: 23px;
  border: 0;
  letter-spacing: 0.125rem;
  font-size: 12px;
  color: black;
}
.dashboard-header__new {
  min-width: 3.75rem;
  padding: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.dashboard-header i{
  font-size: 20px;
}

.inner-row-content{
  padding:5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  margin-left: 70px;
}

.content-layout{
  border-right: 1px dashed black;
  border-radius: 5px 20px 5px;
  border: 1px dashed black;
  font-size: 15px;
  padding:10px;
  color: black;
  margin-top: 10px;
  margin-left: 10px;
  width:250px;
  height:200px;

}
.content-layout .delete{
  position: relative;
  z-index: 9999;
}

.content-layout .left{
  width: 30%;
    float: left;
    text-align: right;
}
.content-layout .right{
  width: 65%;
 margin-left: 10px;
 float:left;
}

.btn-style{
  margin-top: 10px;
  text-align: center;
}
.btn-style2{
  margin-top: 5px;
}

.content-layout:hover
{
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  background-color: #ffff91;
  cursor: pointer;
}

/*Pagination style*/
.pagination {
display: block;
width: 100%;
text-align: center;
top: 10%;
}
.pagination:after {
content: '';
clear: both;
}
.pagination-button {
display: inline-block;
padding: 5px 10px;
border: 1px solid #e0e0e0;
background-color: #eee;
color: #333;
cursor: pointer;
transition: background 0.1s, color 0.1s;
}
.pagination-button:hover {
background-color: #ddd;
color: #3366cc;
}
.pagination-button.active {
background-color: #bbb;
border-color: #bbb;
color: #3366cc;
}
.pagination-button:first-of-type {
border-radius: 18px 0 0 18px;
}
.pagination-button:last-of-type {
border-radius: 0 18px 18px 0;
}

.buttonLayout{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.btnSubmit{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	background: #262626;
	cursor: pointer;
	width: 20%;
	margin-bottom: 20px;
  font-size: 20px;
}

.btnSubmit:hover {
	background: #4682B4;
}

@media all and (min-width: 600px) {
  .dashboard .dashboard-sidebar:nth-of-type(1) {flex-grow: 1;}
  .dashboard .dashboard-content:nth-of-type(2) {flex-grow: 5;}
  .dashboard .dashboard-preview:nth-of-type(3) {flex-grow: 1;}
}
